.abstract_form_explanation {
	font-style: italic;
	margin-bottom: 5px;
}

#abs_form input {
	width: 100%;
	font-size: 17px;
}

#abs_form select {
	width: 100%;
	height: 40px;
}

#abs_form textarea {
	width: 100%;
	height: 200px;
}

#abs_form .page-title {
	margin-top: 20px;
}

#abs_form .red {
	color: red;
	font-weight: bolder;
}

#abs_form p{
	font-weight: bold;
	margin: 5px 0px;
	margin-top: 14px;
}

#loginform{
	border: 1px solid #CCC;
	padding: 20px;
	border-radius: 10px;
}

#loginform input[type="text"],input[type="password"],input[type="submit"] {
	width: 100%;
}

#abs_form button{
	padding: 12px;
	width: 100%;
	margin-top: 20px;
	color:white !important;
	background: #FF8E1D;
	transition: all 1s;
}

#abs_form button:hover{
	background: #d06800;
	transition: all 1s;
	color:white;
}

#abs_form button:disabled{
	background: grey;
}

#abs_form button:disabled:hover{
	background: #555;
}

.abstract_form_add_attachments {
	padding-left: 20px;
	background: url(../images/attach.png) left center no-repeat;
	margin: 10px;
	cursor: pointer;
	line-height: 20px;
}

.abstract_form_add_coauthor {
	padding-left: 20px;
	background: url(../images/user.png) left center no-repeat;
	margin: 10px;
	cursor: pointer;
	line-height: 20px;
}

.abstract_form_attachment {
	height: 30px;
}

.abstract_attachment_row {
	height: 30px;
	line-height:30px;
}

.abstract_form_error {
	color: #ff0000;
	font-weight: bold;
}

.abstract_form_table_label {
	text-align: left;
	width: 100px;
}

.abstract_form_table_row {
	height: 25px;
}

.row{
	box-sizing: border-box;
	margin-bottom: 10px;
}
.row:before,
.row:after {
  content: " ";
  display: table;
}
 
.row:after {
  clear: both;
}

.column-2{
	width: 15.3333333333%;
	height: auto;
}

.column-3 {
  	width: 23.8%;
  	height: auto;
}

.column-4{
	width: 32.2666666667%;
	height: auto;
}

.column-6 {
  	width: 49.2%;
	height: auto;
}

.column-8{
  	width: 66.1%;
	height: auto;
}

.column-12 {
  	width: 100%;
	height: auto;
}

.column{
	box-sizing: border-box;
	position: relative;
		float: left;
}
.column + .column {
	margin-left: 1.6%;
}

.adicionar-projeto{
	background:white;
	padding:15px;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05);
	display: block;
	position: relative;
}

.adicionar-projeto h2{
	margin: 0px;
	margin-bottom: 20px;
}

.adicionar-projeto select{
	width: 100%;
	box-shadow: none;
	padding: 3px;
  	box-sizing: content-box;
}

.adicionar-projeto input{
	width: 100%;
	box-shadow: none;
	padding: 7px;
}

.adicionar-projeto button{
	width: 100%;
	border: none;
	background: #78909c;
	border-radius: 3px;
	padding: 8px;
	color:white;
	transition: 0.2s all;
	cursor: pointer;
	margin: 0px;
}

.adicionar-projeto button:hover{
	opacity: 0.8;
	transition: 0.2s all;
}

.alerta{
	border-radius: 3px;
    margin: 0 0 20px 0;
    padding: 15px 30px 15px 15px;
    border-left: 5px solid #eee;
    border-color: #c23321;
    color: #fff;
    background-color: #dd4b39 ;
}



@media only screen and (max-width: 720px) {
    .img-principal-projeto{
		height: 100% !important;
		max-height: 200px !important;
	}

	.img-secundaria{
		max-height: 120px !important;
	}

   
}


ul {

list-style-type: none;

}

.img-principal-projeto{
	width: 60% !important;
	float: left !important;
	margin-right: 5px  !important;
	height: 310px  !important;
}

.img-secundaria{
	width: 30% !important;
	margin-left: -15px !important;
	max-height: 155px !important;
}

.img-estado{
	width: 25px !important;
    border-color: #b0aead !important;
    border-style: solid !important;
    border-width: 1px !important;
}
.info-legenda{
	background-color: #eee !important;
    color: #000000 !important;
    height: auto !important;
    padding: 10px 0px 0px 5px !important;
    min-height: 30px !important;
    border-width: 0px 0px 1px 0px !important;
    border-style: solid !important;
    border-color: #ce5520 !important;
    text-transform: uppercase !important;
}

.legenda-box{
	min-height: 40px !important;
	height: 100% !important;
    background-color: #fff !important;
    margin-top: -8px !important;
    width: calc(90% + 5px) !important;
    border-width: 0px 1px 1px 1px !important;
    border-style: solid !important;
    border-color: #d7cfd8 !important;
}

.legenda{
	font-size: 15pt !important;
	color: #CE5520;
	margin-bottom: 5px !important;
	padding-top: 5px !important;
}

.legenda-cliente{
	width: 190px !important;
    height: 30px !important;
    background-image: url(../img/legenda_cliente.png) !important;
    position: absolute !important;
    margin-top: 20px !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    color: #FFFFFF  !important;
    text-transform: uppercase !important;
    font-size: 11px !important;
    padding-left: 10px !important;
}

.filtros{
    background-color: #ddd;
    color: #000000;
    height: 100%;
    padding: 10px 0px 0px 5px;
    text-transform: uppercase;
}

.color-grey{
	color: #565555;;
}

.color-projeto{
	color:#ce5520;
}

#button-todos{
	color: #333;
    background-color: #fff;
    border-color: #ccc;
    display: inline-block;
    padding: 6px 12px;
    text-transform: capitalize;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    border-radius: 4px;
    border-color: #000;
    border-width: 1px;
    text-decoration: none;
}

#button-todos:hover{
	color: rgb(51, 51, 51);
    background-color: rgb(212, 212, 212);
    border-color: rgb(140, 140, 140);
  }